@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1 class="text-warning">Log out</h1>
        <style>
            body {
                background-color: rgb(234, 237, 237);
            }
        </style>
    <p class="text-secondary">You have successfully logged out of the application.</p>
</header>