@page
@model PizzaLaMejor.App.Presentacion.Pages.PedidosModel
@{
}

<div class="input-group mb-3">
            
        <a class="btn btn-warning" asp-page="/Pedidos/RegistrarPedido" style="display: block; margin: 0 auto;">Registrar Pedido</a>
            
            
</div>
