@page
@model PizzaLaMejor.App.Presentacion.Pages.ProductosModel
@{
}

<div class="input-group mb-3">
            
        <a class="btn btn-warning" asp-page="/Productos/RegistrarProducto" style="display: block; margin: 0 auto;">Registrar Producto</a>
            
            
</div>
        