@page
@model PizzaLaMejor.App.Presentacion.Pages.Edicion2Model
@{
}


<h2 class="text-warning">Consultar Cliente</h2>

    <style>
        body {
            background-color: rgb(234, 237, 237);
        }
    </style>

<div class="border">
    <form method="post">
        <label for="">Correo Electronico</label>
        <input asp-for="cliente.CorreoElectronico">
        <input type="submit" value="Consultar" class="btn btn-warning form-control">
    </form>

</div>
 
 <br>


<div class="border" style="background-color: #BFC9CA;">
    <form method="post" asp-page-handler="edit">

        <input type="hidden" asp-for="cliente.Id">
        <div class="input-group mb-3">

            <input type="text" asp-for="cliente.Nombres" class="form-control" placeholder="Nombres">
        </div>

        <div class="input-group mb-3">
            <input type="text" asp-for="cliente.Apellidos" class="form-control" placeholder="Apellidos">
        </div>

        <div class="input-group mb-3">
            <input type="text" asp-for="cliente.Cedula" class="form-control" placeholder="Cedula">
        </div>

        <div class="input-group mb-3">
            <input type="text" asp-for="cliente.FechaNacimiento" class="form-control" placeholder="FechaNacimiento">
        </div>

        <div class="input-group mb-3">
            <input type="text" asp-for="cliente.Telefono" class="form-control" placeholder="Telefono">
        </div>

        <div class="input-group mb-3">
            <input type="text" asp-for="cliente.Direccion" class="form-control" placeholder="Direccion">
        </div>

        
        <div class="input-group mb-3">
            <input type="submit" value="Guardar" class="btn btn dark form-control">
        </div>


    </form>

</div>
