@page
@model PizzaLaMejor.App.Presentacion.Pages.RegistroModel
@{
}

<br>

<h2 class="text-info">Crear nuevo Cliente</h2>

<div class="border">
    <form method="post">
        <div class="container" style="padding: 30px">

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="cliente.Nombres"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="cliente.Nombres" class="form-control">
                    </div>
                    <span asp-validacion-for="cliente.Nombres" class="tex-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="cliente.Apellidos"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="cliente.Apellidos" class="form-control">
                    </div>
                    <span asp-validacion-for="cliente.Apellidos" class="tex-danger"></span>
                </div>
            </div>
        


        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <input type="submit" value="Crear Cliente" class="btn btn-primary form-control">
                </div>
                <div class="col-sm-4">
                    <a asp-page="/Index" class="btn btn-success form-control">Volver</a>
                </div>
            </div>
        </div>
</div>


</form>
</div>
