@page
@model PizzaLaMejor.App.Presentacion.Pages.RegistroModel
@{
}

<br>

<h2 class="text-warning">Crear Cliente</h2>
    <style>
        body {
            background-color: rgb(234, 237, 237);
        }
    </style>

<div class="border">
    <form method="post">
        <div class="container" style="padding: 30px">

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="cliente.Nombres"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="cliente.Nombres" class="form-control">
                    </div>
                    <span asp-validacion-for="cliente.Nombres" class="tex-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="cliente.Apellidos"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="cliente.Apellidos" class="form-control">
                    </div>
                    <span asp-validacion-for="cliente.Apellidos" class="tex-danger"></span>
                </div>
            </div>
        
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="cliente.Cedula"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="cliente.Cedula" class="form-control">
                    </div>
                    <span asp-validacion-for="cliente.Cedula" class="tex-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="cliente.FechaNacimiento"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="cliente.FechaNacimiento" class="form-control">
                    </div>
                    <span asp-validacion-for="cliente.FechaNacimiento" class="tex-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="cliente.Telefono"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="cliente.Telefono" class="form-control">
                    </div>
                    <span asp-validacion-for="cliente.Telefono" class="tex-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="cliente.Direccion"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="cliente.Direccion" class="form-control">
                    </div>
                    <span asp-validacion-for="cliente.Direccion" class="tex-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="cliente.CorreoElectronico"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="cliente.CorreoElectronico" class="form-control">
                    </div>
                    <span asp-validacion-for="cliente.CorreoElectronico" class="tex-danger"></span>
                </div>
            </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <input type="submit" value="Crear" class="btn btn-warning form-control">
                </div>
                <div class="col-sm-4">
                    <a asp-page="/Index" class="btn btn-dark form-control">Volver</a>
                </div>
            </div>
        </div>
</div>


</form>
</div>