@page
@model ErrorModel
@{
     ViewData["Title"] = "magna pizza";
     ViewData["Title"] = "perros";
}
<head>
    <div class="text-center">
          <h2><img src="https://static.tildacdn.com/tild3433-3334-4435-b030-343438343961/photo.png" alt="icon" style="width:px;height:75px;">Magna pizza</h2>
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Menu </title>
    <link rel="stylesheet" css="site.css">
</head>
<div>
    <ul>
        <li><h1>Menu</h1></li>
        <li><h2>perros calientes</h2></li>
         <li><h2>Elija su producto </h2></li>
    </ul>
</div>
<!DOCTYPE html>
<html>
<body> 
     <div class="combo">
    <p><img src="https://www.pikpng.com/pngl/b/88-884718_free-png-download-hot-dog-free-png-images.png" alt="ham jyq" style="width:px;height:100px;">Perro combo: $15000</p>
    <button>Agregar</button>
    </div>
    <div class="sencillo">
    <p><img src="https://www.nicepng.com/png/full/390-3901749_hot-dog-perros-caliente-colombiano-png.png" alt="ham jyq" style="width:px;height:100px;">Perro sencillo: $10000 </p>
    <button>Agregar</button>
    </div>
</body>
</html>



