@page
@model PrivacyModel
@{
    ViewData["Title"] = "magna pizza";
     ViewData["Title"] = "pizza";
}
<head>
    <div class="text-center">
          <h2><img src="https://static.tildacdn.com/tild3433-3334-4435-b030-343438343961/photo.png" alt="icon" style="width:px;height:75px;">Magna pizza</h2>
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Menu </title>
    <link rel="stylesheet" css="site.css">
</head>
<div>
    <ul>
        <li><h1>Menu</h1></li>
        <li><h2>pizza</h2></li>
         <li><h2>Elija su producto</h2></li>
    </ul>
</div>
<!DOCTYPE html>
<html>
<body>
    <div class="familiar">
    <h3>Pizzas</h3>    
    <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrSy8gJUCgDi_jclaK4Aeriqk4jMwdcNV2Ow&usqp=CAU" alt="ham jyq" style="width:px;height:100px;">Pizza familiar: $38900</p>
    <button>Agregar</button>
    </div>
     <div class="mediana">
    <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtDNAFKLF-SGS_0TOkEPjtip-5-U9dc4IJtQ&usqp=CAU" alt="ham jyq" style="width:px;height:100px;">Pizza Mediana: $20900 </p>
    <button>Agregar</button>
    </div>
        
    </body>
</html>

